@font-face {
    font-family: "Harmonia Sans Pro Cyr";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Harmonia Sans Pro Cyr"), local("HarmoniaSansProCyr-Regular.woff2") format("woff2"),
         url("fonts/HarmoniaSansProCyr-Regular.woff") format("woff");
}

.page {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Harmonia Sans Pro Cyr', sans-serif;
}

header {
    display: flex;
}

header nav ul li a.highlighted {
    color: #FF006B;
}

header img {
    margin-right: 30px;
    width: 61px;
    height: 58px;
}

.container p {
    width: 67.7%;
    font-size: 24px;
    margin: 0;
    gap: 28px;
    margin-top: -10px;
    margin-left: -19px;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-left: -12px;
    margin-top: 71px;
}

.container {
    position: relative;
}

.container p {
    position: absolute;
    top: 10px;   
    left: 10px;
    z-index: 2;
}

figure figcaption {
    font-size: 16px;
    margin-left: -52px;
    margin-top: -17px;
}

footer {
    display: flex;
    margin-top: 52px;
}

footer div section p:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
}

footer div nav a img { 
    width: 5.2%;
    height: 3.4%;
}

footer div section p:last-child {
    margin-top: -10px;
}

footer div section, footer div address {
    font-size: 16px;
    line-height: 30px;
    margin-top: 46px;
    margin-left: 33px;
}

address {
    font-style: normal;
}
